<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291383799082-dd1bkfm4bde5jvpf482ajlm5jsu3juvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291383799082-dd1bkfm4bde5jvpf482ajlm5jsu3juvf</string>
	<key>API_KEY</key>
	<string>AIzaSyDgRsI0aVBA5ZwvDiAbO-KBUUMtbml5UYk</string>
	<key>GCM_SENDER_ID</key>
	<string>291383799082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WhApp</string>
	<key>PROJECT_ID</key>
	<string>wheelchair-2e5db</string>
	<key>STORAGE_BUCKET</key>
	<string>wheelchair-2e5db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291383799082:ios:22b385474bc5e2ab4bc253</string>
</dict>
</plist>